<html lang="ru">
<head>
    <title>
        ИВТ
    </title></head>
<body>
<h2>Лучший сайт лучшего факультета</h2>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="submit" value="Sign Out"/>
    </form>
</div>